<div class="uk-card uk-card-body uk-box-shadow-large">

    <form class="uk-form-horizontal uk-margin-large" action="/save/{{point._id}}" method="POST" enctype="multipart/form-data">
      <div class="uk-margin">
          <label class="uk-form-label" for="form-horizontal-text">Name</label>
          <div class="uk-form-controls">
              <input class="uk-input" id="form-horizontal-text" type="text" name="name" value="{{point.name}}">
          </div>
      </div>

      <div class="uk-margin">
          <label class="uk-form-label" for="form-horizontal-select">Description</label>
          <div class="uk-form-controls">
              <textarea class="uk-input" id="desc-text" type="text" name="description" rows="5">{{point.description}}</textarea>
          </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-text">Latitude</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="form-horizontal-text" type="text" name="latitude" value="{{point.latitude}}">
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-text">Longitude</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="form-horizontal-text" type="text" name="longitude" value="{{point.longitude}}">
        </div>
      </div>

      <div class="uk-margin">
          <div class="uk-form-label">Image</div>
          <div class="uk-form-controls">
              <img data-src="{{point.imageUrl}}" alt="image of {{point.name}}" uk-img>
          </div>
      </div>


      <div class="uk-margin">
        <button class="submit uk-button uk-button-primary uk-button-large uk-align-right">Save</button>
      </div>

    </form>
    
    <div class="uk-card-small uk-align-left">
        <a href="/delete/{{point._id}}" class="uk-card uk-card-small uk-card-hover uk-padding-small">
            <i class="fas fa-trash fa-3x" style="color:rgb(122, 13, 13)" title="Delete" pos="bottom" uk-tooltip></i>
        </a>
    </div>
        
</div>