<div class="uk-card uk-card-body uk-box-shadow-large">
    <h3 class="uk-card-title">{{point.name}}</h3>
    <img data-src="{{point.imageUrl}}" alt="image of {{point.name}}" uk-img>
    <p>{{point.description}}</p>
    <div class="uk-card-small uk-align-right">
        {{#if isOwner}}
            <a href="/edit/{{point._id}}" class="uk-card uk-card-small uk-card-hover uk-padding-small">
                <i class="fas fa-edit fa-3x" style="color:rgb(29, 0, 196)" title="Edit" pos="bottom" uk-tooltip></i>
            </a>
        {{/if}}
    </div>
</div>